<div class="modal" *ngIf="modalVisible">
    <div class="filmsContainer">
        <div class="close" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></div>
        <div class="img">
            <img src="https://image.tmdb.org/t/p/original/{{pelicula.poster_path}}" alt="">
        </div>
        <div class="info">
            <h1>{{pelicula.title}}</h1>
            <p><small id="original_title">{{pelicula.original_title}}</small></p>
            <img class="maxWidth" src="https://image.tmdb.org/t/p/original/{{pelicula.backdrop_path}}" alt="">            
            <p class="votes">
                <span class="item"><i class="fa-solid fa-star"></i> <b> {{pelicula.vote_average}}</b></span>
                <span class="item"><i class="fa-solid fa-eye"></i> <b> {{pelicula.vote_count}}</b></span>
                <span class="item"><i class="fa-solid fa-calendar"></i> <b> {{pelicula.release_date}}</b></span>
            </p>                   
            <div class="generos">
                <p class="item"><b>Generos</b></p>
                <div *ngFor="let genero of pelicula.generos">
                    <div class="item">{{genero}}</div>
                </div>
            </div>

            <h3 *ngIf="pelicula.overview != '' ">Sinopsis</h3>

            <p class="maxWidth">{{pelicula.overview}}</p>            


        </div>

    </div>
</div>