<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <p class="navbar-brand">TMDB Angular Api</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--<li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>-->
            </ul>

            <form class="d-flex">
                <input [(ngModel)]="searchTerm" name="searchFilm" class="form-control margin" type="search" [placeholder]="typeSearch==1?'Buscar Peliculas':'Buscar Series'" aria-label="Search">
                <select [(ngModel)]="typeSearch" name="typeSearch" class="form-select margin" aria-label=".form-select-lg example">                    
                    <option selected="selected" value="1">Peliculas</option>
                    <option value="2">Series</option>
                </select>
                <button (click)="searchFilm()" class="btn btn-success" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>