<div>
  <app-header (propagar)="procesaPropagar($event)"></app-header>
  <main class="container">
    <!-- Componente que gestiona las peliculas -->    
    <app-films (propagar2)="procesaPropagar2($event)" [peliculas]="peliculas"></app-films>
    <!-- Modal que carga la información de la pelicula -->
    <app-film (closeFilmModal)="closeModal($event)" [modalVisible]="modalVisible" [pelicula]="pelicula"></app-film>
  </main>
</div>

<style>
  main {
    padding-top: 1em;
  }
  .selectFilter{
    margin-bottom: 1em;
  }
</style>