<div>
  <app-header (buscarPelicula)="buscarPelicula($event)"></app-header>
  <main class="container">
    <!-- app-navigation -->
    <app-navigation (pageChange)="newPage($event)" [maxPage]="maxPage" [page]="page"></app-navigation>
    <!-- Componente que gestiona las peliculas -->    
    <app-films (cerrarModal)="cerrarModal($event)" [peliculas]="peliculas"></app-films>
    <!-- Modal que carga la información de la pelicula -->
    <app-film (closeFilmModal)="closeModal($event)" [modalVisible]="modalVisible" [pelicula]="pelicula"></app-film>
  </main>
</div>