.filmsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
  }

  .film .posterIMG {
    min-width: 400px;
    min-height: 400px;
    background-size: cover;
    cursor: pointer;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  .film {
    max-width: 100%;
    display: block;
  }

  @media (max-width: 768px) {
    .film {
      max-width: 100%;
      display: block;
    }
    .film .posterIMG {
      min-width: 300px;
      min-height: 200px;
      background-size: cover;
      cursor: pointer;
    }
  }

  @media (max-width: 375px) {
    .film {
      max-width: 88%;
      display: block;
    }
  }

  @media (max-width: 320px) {
    .film {
      max-width: 73%;
      display: block;
    }
  }