<div class="navigation">
    <nav aria-label="Page navigation example">
        <ul class="pagination">            
            <li class="page-item"><p class="page-link" (click)="changePage(page)">{{page}}</p></li>
            <li class="page-item"><p class="page-link" (click)="changePage((page+1))">{{page+1}}</p></li>
            <li class="page-item"><p class="page-link" (click)="changePage((page+2))">{{page+2}}</p></li>            
        </ul>
    </nav>
</div>

<style>
    .navigation {
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }
    .page-item{
        cursor: pointer;
    }
</style>